{erl_opts, [debug_info]}.

{require_otp_vsn, "R?21"}.

%% Tell rebar about this directory's structure
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

%% Build a release when compiling
%%{post_hooks,[{compile, "./relx"}]}.

{deps, [
    {ranch, "1.2.0", {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.0"}}},
    {enacl, "1.1.0", {git, "https://github.com/jlouis/enacl.git", {tag, "1.1.0"}}},
    {jiffy, {git, "https://git.sr.ht/~cmoid/jiffy", {branch, "master"}}},
    {bitcask, "2.1.0", {git, "https://github.com/basho/bitcask.git", {tag, "2.1.0"}}}
]}.
{plugins, [rebar3_auto]}.
{relx, [{release, { ssb, "0.0.1" },
         [ssb,
          debugger,
          runtime_tools]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {overlay, [{template, "./config/network_id", "bin/network_id"}]},

        {extended_start_script, true}]
}.

{profiles, [{dev, [{relx, [{dev_mode, true},
                            {include_erts, false}]}]
            },
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
