{require_otp_vsn, "R?21"}.

%% Tell rebar about this directory's structure
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

%% Build a release when compiling
%%{post_hooks,[{compile, "./relx"}]}.

%% These deps are temporary forks, that needed minor tweaks to make usable,
%% or are not actively maintained
%% TODO: push changes upstream or otherwise resolve 
{deps, [
    {ranch, "1.2.0", {git, "https://github.com/cmoid/ranch", {branch, "1.2.0"}}},
    {enacl, "1.1.1", {git, "https://github.com/cmoid/enacl", {branch, "moid-v1.1.1"}}}
]}.
{plugins, [rebar3_auto]}.
{relx, [{release, { ssb, {git, short} },
         [ssb,
          debugger,
          runtime_tools]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {extended_start_script, true},

        {overlay_vars, "config/default.vars"},
        {overlay, [
                   {template, "config/ssb.cfg", "ssb.cfg"}
                  ]}

]
}.

{profiles, [{dev, [{erl_opts, [debug_info]},
                   {relx, [{dev_mode, true},
                            {include_erts, false}]}]
            },
            {prod, [{erl_opts, [no_debug_info, warnings_as_errors]},
                    {relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
